.Header {
  height: calc(3.75rem - 1rem);
  background-color: #222;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}
.App-Title {
  color: #bbb;
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .1rem;
  flex: 1;
  text-align: left;
}